.about {
  max-width: 1240px;
  margin: 0 auto;
  padding: 40px;
  flex: 1;

  .banner {
    width: 100%;
    max-width: 1240px;
    height: 223px;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    margin-bottom: 30px;
  }

  .collapses-section {
    width: 100%;
    max-width: 1023px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media (max-width: 1280px) {
    padding: 30px 40px;
  }

  @media (max-width: 768px) {
    padding: 20px;

    .banner {
      height: 223px;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .collapses-section {
      gap: 15px;
    }
  }

  @media (max-width: 480px) {
    .banner {
      height: 111px;
    }
  }
}
