.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  .banner {
    width: 1240px;
    height: 223px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .collapses-section {
    width: 1023px;     
    display: flex;
    flex-direction: column;     
  }
}

