.banner {
  background-size: cover;
  background-position: center;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 25px;
  position: relative;

  h1 {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
  }

  h1 {
    position: relative;
    z-index: 1;
  }
}
