.home {
  max-width: 1240px;
  margin: 0 auto;
  padding: 40px;

  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 40px 0;
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 50px;

    @media (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      padding: 40px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      background-color: transparent;
      padding: 0;
      gap: 20px;
    }
  }
}
